* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  background-color: #111;
  min-height: 100vh;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap : 20px;
}

.card-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  height: 150px;
  width: 500px;
  background-color: aliceblue;
  border-radius: 12px;
}

.snack-Img {

  margin: 10px;
  background-color: red;
  height: 80%;
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
}

.snack-Img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-Info{
  margin-left:10px;
  height : 80%;
  width :230px;
  display: flex;
  flex-direction: column;
}

.snack-Heading{
  font-size: 25px;
  font-weight: 500;
}

.snack-Description{
  margin-top : 7px;
  font-size: 13px;
  color :grey;
  text-align:left;
  line-height: 17px;
}

.snack-Price{
  color:blue;
  margin-top:15px;
  font-size: 20px;
}

.left-Section{
  height: 80% ;
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-Value{
  margin-top: 5px;
  margin-left: 5px;
  height : 19px;
  border-radius: 12px;
  width : 74px;
  background-color: rgb(226, 228, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock{
  font-size: 12px;
  color: rgb(12, 182, 12);
}

.trash-Bin{
  display: flex;
  margin-top : 63px;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 123, 255);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.trash-Bin img{
  height: 25px;
  object-fit: cover;
}