* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    
}

body{
    background-color: rgb(64, 61, 61);
}

.card-Container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111844;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid whitesmoke;
}

.profilePic {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.userInfo{
    padding: 12px;
    margin : 8px;
    width: 85%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: #4B5694;
    border-radius: 12px;
}

.userName{
    font-size: large;
    padding: 2px;
    margin-top: 3px;
    color: #E5E4E2;
}

.userAge{
    padding: 2px;
    font-size: 13px;
}

.aboutUser{
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
}